{{# extend "base"}}

  {{# content "mainContainer" }}

    <section class="elements">
      {{{ this.contents }}}
      <hr>
      {{#each collections.elements}}
        <article>
          <h3>{{elementName}}</h3>
          <img class="post-picture" alt="{{elementName}}" src="{{imageUrl}}">
          <div><strong>Символ:</strong> {{ symbol }}</div>
          <div><strong>Цвет:</strong> {{ color }}</div>
          <div><strong>Магическое оружие:</strong> {{ magicWeapon }}</div>
          <div><strong>Ключевые слова:</strong> {{ keywords }}</div>
          <div><strong>Добродетель:</strong> {{ virtue }}</div>
          <div><strong>Темперамент:</strong> {{ temperament }}</div>
          <div><strong>Свойства:</strong> {{ properties }}</div>

          <div>
            {{{ this.contents }}}
          </div>
        </article>
        <hr>
      {{/each}}
    </section>

  {{/content}}

{{/extend}}
